In [1]:
import pandas as pd
import numpy as np

In [2]:
# load data
apple_df = pd.read_csv('data/AAPL.csv')

apple_df.head()

         Date   Close    Volume    Open    High      Low
0  2023-07-21  191.94  71904040  194.10  194.97  191.230
1  2023-07-20  193.13  59581200  195.09  196.47  192.495
2  2023-07-19  195.10  80507320  193.10  198.23  192.650
3  2023-07-18  193.73  48353770  193.35  194.33  192.415
4  2023-07-17  193.99  50520160  191.90  194.32  191.810

In [3]:
# Calculate daily returns
apple_df['Daily_Return'] = apple_df['Close'].pct_change( periods = 1 )
apple_df.head()

# create new column for 5 day rolling mean of close price
apple_df['5_day_mean_close_price'] = apple_df['Close'].rolling(5).mean()
apple_df.head(10)

# create new column for 5 day rolling mean of volume
apple_df['5_day_mean_volume'] = apple_df['Volume'].rolling(5).mean()
apple_df.head(10)


# create new column called Daily_Range
apple_df['Daily_Range'] = apple_df['High'] - apple_df['Low']


# create new column called Volaity
apple_df['Volatility'] = apple_df['Daily_Return'].rolling(5).std()
apple_df.head(10)

,Date,Close,Volume,Open,High,Low,Daily_Return,5_day_mean_close_price,5_day_mean_volume,Daily_Range,Volatility
0,2023-07-21,191.94,71904040,194.10,194.9700,191.230,NaN,NaN,NaN,3.7400,NaN
1,2023-07-20,193.13,59581200,195.09,196.4700,192.495,0.006200,NaN,NaN,3.9750,NaN
2,2023-07-19,195.10,80507320,193.10,198.2300,192.650,0.010200,NaN,NaN,5.5800,NaN
3,2023-07-18,193.73,48353770,193.35,194.3300,192.415,-0.007022,NaN,NaN,1.9150,NaN
4,2023-07-17,193.99,50520160,191.90,194.3200,191.810,0.001342,193.578,62173298.0,2.5100,NaN
5,2023-07-14,190.69,41616240,190.23,191.1799,189.630,-0.017011,193.328,56115738.0,1.5499,0.010898
6,2023-07-13,190.54,41342340,190.50,191.1900,189.780,-0.000787,192.810,52467966.0,1.4100,0.010123
7,2023-07-12,189.77,60750250,189.68,191.7000,188.470,-0.004041,191.744,48516552.0,3.2300,0.007176
8,2023-07-11,188.08,46638120,189.16,189.3000,186.600,-0.008906,190.614,48173422.0,2.7000,0.007324
9,2023-07-10,188.61,59922160,189.26,189.9900,187.035,0.002818,189.538,50053822.0,2.9550,0.007707

In [4]:
# create new column called Quarter
apple_df['Quarter'] = pd.PeriodIndex(apple_df['Date'], freq='Q')

In [5]:
apple_df

,Date,Close,Volume,Open,High,Low,Daily_Return,5_day_mean_close_price,5_day_mean_volume,Daily_Range,Volatility,Quarter
0,2023-07-21,191.9400,71904040,194.1000,194.9700,191.2300,NaN,NaN,NaN,3.7400,NaN,2023Q3
1,2023-07-20,193.1300,59581200,195.0900,196.4700,192.4950,0.006200,NaN,NaN,3.9750,NaN,2023Q3
2,2023-07-19,195.1000,80507320,193.1000,198.2300,192.6500,0.010200,NaN,NaN,5.5800,NaN,2023Q3
3,2023-07-18,193.7300,48353770,193.3500,194.3300,192.4150,-0.007022,NaN,NaN,1.9150,NaN,2023Q3
4,2023-07-17,193.9900,50520160,191.9000,194.3200,191.8100,0.001342,193.57800,62173298.0,2.5100,NaN,2023Q3
...,...,...,...,...,...,...,...,...,...,...,...,...
2512,2013-07-29,15.9925,248025441,15.7429,16.0711,15.7214,-0.012199,16.23470,271734896.2,0.3497,0.006542,2013Q3
2513,2013-07-26,15.7496,200082264,15.5464,15.7514,15.5121,-0.015188,16.08076,257022358.0,0.2393,0.006640,2013Q3
2514,2013-07-25,15.6607,229432412,15.7393,15.7643,15.5646,-0.005645,15.95092,261800012.8,0.1997,0.006537,2013Q3
2515,2013-07-24,15.7325,591624923,15.6761,15.8782,15.5450,0.004585,15.86506,315625119.2,0.3332,0.008556,2013Q3
2516,2013-07-23,14.9639,354477618,15.2143,15.2486,14.9539,-0.048854,15.61984,324728531.6,0.2947,0.020150,2013Q3

In [6]:
# Calculate 5-day and 20-day exponential moving averages for closing price
apple_df['EMA_Close_5'] = apple_df['Close'].ewm(span=5, adjust=False).mean()
apple_df['EMA_Close_20'] = apple_df['Close'].ewm(span=20, adjust=False).mean()

In [8]:
# save to csv
apple_df.to_csv('data/clean/AAPL_feature_engineered.csv', index=False)