In [25]:
import pandas as pd
import numpy as np

In [26]:
# load data
apple_df = pd.read_csv('/Users/anujthakkar/Documents/Purdue/Projects/Stock Market/flask_app/data/AAPL.csv')

apple_df.head()
print(apple_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2517 non-null   object
 1   Close   2517 non-null   float64
 2   Volume  2517 non-null   int64
 3   Open    2517 non-null   float64
 4   High    2517 non-null   float64
 5   Low     2517 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 118.1+ KB
None

In [27]:
# daily returns feature
apple_df['Daily_Return'] = apple_df['Close'].pct_change( periods = 1 )
apple_df.head()

# 5 day rolling average for close price
apple_df['5_day_mean_close_price'] = apple_df['Close'].rolling(5).mean()
apple_df.head(10)

# 5 day rolling average of volume
apple_df['5_day_mean_volume'] = apple_df['Volume'].rolling(5).mean()
apple_df.head(10)


# Daily_Range = High - Low
apple_df['Daily_Range'] = apple_df['High'] - apple_df['Low']


# Volaity = 5 day rolling standard deviation of daily returns
apple_df['Volatility'] = apple_df['Daily_Return'].rolling(5).std()
apple_df.head(10)

,Date,Close,Volume,Open,High,Low,Daily_Return,5_day_mean_close_price,5_day_mean_volume,Daily_Range,Volatility
0,2023-07-21,191.94,71904040,194.10,194.9700,191.230,NaN,NaN,NaN,3.7400,NaN
1,2023-07-20,193.13,59581200,195.09,196.4700,192.495,0.006200,NaN,NaN,3.9750,NaN
2,2023-07-19,195.10,80507320,193.10,198.2300,192.650,0.010200,NaN,NaN,5.5800,NaN
3,2023-07-18,193.73,48353770,193.35,194.3300,192.415,-0.007022,NaN,NaN,1.9150,NaN
4,2023-07-17,193.99,50520160,191.90,194.3200,191.810,0.001342,193.578,62173298.0,2.5100,NaN
5,2023-07-14,190.69,41616240,190.23,191.1799,189.630,-0.017011,193.328,56115738.0,1.5499,0.010898
6,2023-07-13,190.54,41342340,190.50,191.1900,189.780,-0.000787,192.810,52467966.0,1.4100,0.010123
7,2023-07-12,189.77,60750250,189.68,191.7000,188.470,-0.004041,191.744,48516552.0,3.2300,0.007176
8,2023-07-11,188.08,46638120,189.16,189.3000,186.600,-0.008906,190.614,48173422.0,2.7000,0.007324
9,2023-07-10,188.61,59922160,189.26,189.9900,187.035,0.002818,189.538,50053822.0,2.9550,0.007707

In [28]:
# create new column called Quarter
apple_df['Quarter'] = pd.PeriodIndex(apple_df['Date'], freq='Q')

In [29]:
apple_df.head(35)

# impuute missing values
apple_df['5_day_mean_close_price'] = apple_df['5_day_mean_close_price'].fillna(0)
apple_df['5_day_mean_volume'] = apple_df['5_day_mean_volume'].fillna(0)
apple_df['Volatility'] = apple_df['Volatility'].fillna(0)
apple_df['Daily_Return'] = apple_df['Daily_Return'].fillna(0)

apple_df.head(10)

,Date,Close,Volume,Open,High,Low,Daily_Return,5_day_mean_close_price,5_day_mean_volume,Daily_Range,Volatility,Quarter
0,2023-07-21,191.94,71904040,194.10,194.9700,191.230,0.000000,0.000,0.0,3.7400,0.000000,2023Q3
1,2023-07-20,193.13,59581200,195.09,196.4700,192.495,0.006200,0.000,0.0,3.9750,0.000000,2023Q3
2,2023-07-19,195.10,80507320,193.10,198.2300,192.650,0.010200,0.000,0.0,5.5800,0.000000,2023Q3
3,2023-07-18,193.73,48353770,193.35,194.3300,192.415,-0.007022,0.000,0.0,1.9150,0.000000,2023Q3
4,2023-07-17,193.99,50520160,191.90,194.3200,191.810,0.001342,193.578,62173298.0,2.5100,0.000000,2023Q3
5,2023-07-14,190.69,41616240,190.23,191.1799,189.630,-0.017011,193.328,56115738.0,1.5499,0.010898,2023Q3
6,2023-07-13,190.54,41342340,190.50,191.1900,189.780,-0.000787,192.810,52467966.0,1.4100,0.010123,2023Q3
7,2023-07-12,189.77,60750250,189.68,191.7000,188.470,-0.004041,191.744,48516552.0,3.2300,0.007176,2023Q3
8,2023-07-11,188.08,46638120,189.16,189.3000,186.600,-0.008906,190.614,48173422.0,2.7000,0.007324,2023Q3
9,2023-07-10,188.61,59922160,189.26,189.9900,187.035,0.002818,189.538,50053822.0,2.9550,0.007707,2023Q3

In [30]:
# 5-day and 20-day exponential moving averages for closing price
apple_df['EMA_Close_5'] = apple_df['Close'].ewm(span=5, adjust=False).mean()
apple_df['EMA_Close_20'] = apple_df['Close'].ewm(span=20, adjust=False).mean()

In [31]:
print(apple_df.columns)

Index(['Date', 'Close', 'Volume', 'Open', 'High', 'Low', 'Daily_Return',
       '5_day_mean_close_price', '5_day_mean_volume', 'Daily_Range',
       'Volatility', 'Quarter', 'EMA_Close_5', 'EMA_Close_20'],
      dtype='object')

In [32]:
from sklearn.preprocessing import MinMaxScaler
# features needed to scale

# Extract numerical features
# we don't want to scale the target variable
numerical_features = ['Volume', 'Open', 'High', 'Low', 'Daily_Return',
                     '5_day_mean_close_price', '5_day_mean_volume', 'Daily_Range',
                     'Volatility', 'EMA_Close_5', 'EMA_Close_20']

# Initialize the scaler
scaler = MinMaxScaler()

# Scale the numerical features
apple_df[numerical_features] = scaler.fit_transform(apple_df[numerical_features])

In [33]:
# sort by date ascending
apple_df['Date'] = pd.to_datetime(apple_df['Date'])
apple_df = apple_df.sort_values(by='Date', ascending=True).reset_index(drop=True)

# save to csv
apple_df.to_csv('/Users/anujthakkar/Documents/Purdue/Projects/Stock Market/flask_app/data/clean/AAPL_feature_engineered.csv', index=False)

In [34]:
apple_df.head(10)

,Date,Close,Volume,Open,High,Low,Daily_Return,5_day_mean_close_price,5_day_mean_volume,Daily_Range,Volatility,Quarter,EMA_Close_5,EMA_Close_20
0,2013-07-23,14.9639,0.312547,0.000000,0.000000,0.000000,0.228314,0.080690,0.498844,0.014155,0.183508,2013Q3,0.000000,0.000000
1,2013-07-24,15.7325,0.541927,0.002567,0.003441,0.003326,0.438183,0.081957,0.484860,0.017188,0.077922,2013Q3,0.001687,0.000840
2,2013-07-25,15.6607,0.191598,0.002919,0.002818,0.003437,0.398010,0.082400,0.402174,0.006672,0.059538,2013Q3,0.002058,0.001310
3,2013-07-26,15.7496,0.163209,0.001846,0.002748,0.003141,0.360529,0.083071,0.394835,0.009791,0.060471,2013Q3,0.002817,0.001872
4,2013-07-29,15.9925,0.209582,0.002939,0.004495,0.004319,0.372269,0.083866,0.417436,0.018488,0.059578,2013Q3,0.003705,0.002440
5,2013-07-30,16.1900,0.268521,0.004757,0.005892,0.006134,0.427030,0.084666,0.439030,0.013226,0.092453,2013Q3,0.004355,0.002923
6,2013-07-31,16.1618,0.281616,0.005756,0.005930,0.006175,0.384516,0.085106,0.446973,0.013202,0.090766,2013Q3,0.004776,0.003338
7,2013-08-01,16.3099,0.168492,0.005907,0.005824,0.006944,0.370395,0.085565,0.439596,0.000898,0.103494,2013Q3,0.005487,0.003815
8,2013-08-02,16.5193,0.234362,0.006355,0.007005,0.007628,0.362367,0.085725,0.455024,0.008358,0.103498,2013Q3,0.006137,0.004252
9,2013-08-05,16.7661,0.277565,0.007682,0.008531,0.008731,0.455630,0.085427,0.452852,0.014904,0.152527,2013Q3,0.006524,0.004611